POSTGRES_PORT=5433
REDIS_PORT=6380
CORS_ORIGINS=["http://localhost:3000", "http://localhost:8000", "https://maisformacion.com"]
GROQ_API_KEY=gsk_pon_tu_clave_de_groq_aqui
NGROK_AUTHTOKEN=pon_tu_token_de_ngrok_aqui
YOUTUBE_CHANNEL_ID=UCoZWQl3d034u8OIqnEGEnXA
